<%= form_with model: place, html: {class: "flex flex-col"} do |form| %>
  <% if place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
        <% place.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <div class="flex flex-col">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="flex flex-col mt-4">
    <%= form.label :zip %>
    <%= form.number_field :zip %>
  </div>

  <div class="flex flex-col mt-4">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="flex mt-4">
    <%= form.submit class: "px-2 py-1 bg-green-500 bg-opacity-75 text-indigo-50 rounded cursor-pointer" %>
  </div>
<% end %>
